*{
    box-sizing: border-box;
}

body{
    background-color: rgb(109, 139, 119);
    /* display: flex;
    position: absolute;
    flex-direction: column;
    left: 300px;
    top:80px; */
    font-family: fantasy;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 100%;;
    grid-template-rows: 10% 80% 15%;
    grid-template-areas:
    "my-nav"
    "my-main"
    "my-footer";
}

nav{
    grid-area: my-nav;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "my-main  my-formulario my-ubicacion";
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(137, 124, 150);
}

nav a{
    color: black;
}

    nav summary:hover{
        background-color: rgb(62, 170, 111);
        text-transform: uppercase;
    }

    nav a:hover{
        background-color: rgb(131, 55, 19);
        text-transform: uppercase;
    }

        .main{
            grid-area: my-main;
            color: black;
        }

        .formulario{
            grid-area: my-formulario;
        }

        .formulario a{
            color: black;
        }

        .galeria{
            grid-area: my-galeria;
        }

        .galeria a{
            color: black;
        }

        .ubiacion{
            grid-area: my-ubicacion;
        }

        .ubiacion a{
            color: black;
        }

main{
    grid-area:my-main;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-areas: 
        "my-foto1 my-foto2 my-foto3 my-foto4"
        "my-foto5 my-foto6 my-foto7 my-foto8"
        "my-foto9 my-foto10 my-foto11 my-foto12";
    background: linear-gradient(to left,rgb(88, 116, 105),rgb(160, 187, 163));
    opacity: 0.9;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

img{
    width: 320px;
    height: 250px;
    margin: 5px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    border: 3px solid black;
    border-radius: 2%;
}

.fotos{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.foto1{
    grid-area: my-foto1;
}
.foto2{
    grid-area: my-foto2;
}
.foto3{
    grid-area: my-foto3;
}
.foto4{
    grid-area: my-foto4;
}
.foto5{
    grid-area:my-foto5;
}
.foto6{
    grid-area: my-foto6;
}
.foto7{
    grid-area:my-foto7;
}
.foto8{
    grid-area: my-foto8;
}
.foto9{
    grid-area: my-foto9;
}
.foto10{
    grid-area: my-foto10;
}
.foto11{
    grid-area: my-foto11;
}
.foto12{
    grid-area:my-foto12;
}



footer{
    grid-area: my-footer;
    display: inline-block;
    padding: 15px;
}


@media (max-width:872px){

    body{
        font-family: fantasy;       

    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: -270px;
        top: 150px;
        overflow: hidden;
    }

    img{
        /* width: 320px;
        height: 250px;
        margin: 5px;
        padding: 10px;
        overflow: hidden;
        text-align: center; */
        border: 3px solid black;
        border-radius: 2%;
    }

    aside{
        display: flex;
        position: absolute;
        left: -270px;
        top: -90px;
    }

    header{
        display: flex;
        position: absolute;
        left: -210px;
        top: 50px;
        font-size: 15px;
    }
}