
*{
    box-sizing: border-box;
}


body{
    display: grid;
    margin: auto;
    gap: 15px;
    grid-template-columns: 100%;
    grid-template-rows: 13% 5% 65% 201;
    grid-template-areas: 
     "my-header"
     "my-nav"
     "my-main"
     "my-footer";
    background-image: url(IMAGENES/foto-fondo-one\ piece.jpg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    grid-area: my-header;
}
.titulo{
    text-transform: uppercase;
    border: 3px solid black;
    margin-right: 0;
    margin-left: 0;
    padding: 10px;
    text-align: center;
}


nav{
    grid-area: my-nav;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "my-main  my-galeria my-ubicacion";
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(137, 124, 150);
}

    nav summary:hover{
        background-color: rgb(62, 170, 111);
        text-transform: uppercase;
    }

    nav a:hover{
        background-color: rgb(131, 55, 19);
        text-transform: uppercase;
    }

        .main{
            grid-area: my-main;
            color: black;
        }

        .formulario{
            grid-area: my-formulario;
        }

        .formulario a{
            color: black;
        }

        .galeria{
            grid-area: my-galeria;
        }

        .galeria a{
            color: black;
        }

        .ubiacion{
            grid-area: my-ubicacion;
        }

        .ubiacion a{
            color: black;
        }


.main{
    grid-area: my-main;
}

.main a{
    color: black;
}

form{ 
    padding: 5px;
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "nombre"
        "email"
        "telefono"
        "more-info"
        "terminos-condiciones"
        "opciones"
        "reset";
}

.formulario-datos{
    text-align: center;
    margin: 10px;   
    border: 1px solid black;
    border-radius: 10%;
    background: linear-gradient(to left ,rgb(11, 68, 85) ,rgb(209, 184, 184));
    width: 30%;
    height: 100%;
    padding: 50px;
    margin: auto;
    opacity: 0.9;

}

.formulario-datos input{
    margin: 1px;
    padding:5px ;
}

textarea{
    margin: 5px;
}

.nombre{
    grid-area: nombre;
    padding:  5px;
    word-spacing: 230px;
}

.email{
    grid-area: email;
    padding: 5px;
    word-spacing:244px ;
}

.telefono{
    grid-area: telefono;
    padding: 5px;
    word-spacing: 225px;
}

.more-info{
    grid-area: more-info;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 100px;
    word-spacing: 10px;
}

.terminos-condiciones{
    grid-area:terminos-condiciones;
}


.opciones{
    grid-area: opciones;
}

.reset{
    grid-area: reset;
}

aside{
    display: flex;
    position: absolute;
    top: 150px;
    left: 300px;
    font-size: 40px;
}

aside a{
    color: black;
    text-transform: uppercase;
}

footer{
    grid-area: my-footer;
    background-color: rgb(170, 101, 101);
    border: 1px solid black;
    display: grid;
    grid-template-columns: 33.3% 33.33% 33.3%;
    grid-template-rows: 20% 90%;
    grid-template-areas: 
        "my-rrss my-face my-insta"
        "my-info-footer my-info-footer my-info-footer"
}

    .rrss{
        grid-area: my-rrss;
        text-align: right;
        margin: -15px;
    }

    .link-face{
        grid-area: my-face;
        text-align: center;
    }

    .link-insta{
        grid-area: my-insta;
        text-align: center;
        
    }

    .info-footer{
        grid-area: my-info-footer;
        margin: 10px;
        text-align: center;
    }

    footer a{
        color: black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }


@media (max-width:872px){

    body{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 20% 70% 10%;
        grid-template-areas: 
         "my-header"
         "my-main"
         "my-principal";
        background-image: url(/IMAGENES/foto-fondo-one\ piece.jpg);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    aside{
        grid-area: my-principal;
        text-align: center;
        font-size: 30px;
        padding:20px;
    }

    a{
        color: black;
    }

    form{ 
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "nombre"
            "email"
            "telefono"
            "more-info"
            "terminos-condiciones"
            "opciones"
            "reset";
            overflow: hidden;
    }

    .formulario-datos input{
        margin: 0;
        padding:0 ;
    }

    .formulario-datos{
        text-align: center;
        width: 100%;
        border: 1px solid black;
        border-radius: 10%;
        background: linear-gradient(to left ,rgb(223, 237, 241) ,rgb(70, 160, 202));
        opacity: 0.5;
        margin-top: 5px;
    
    }

}

