<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
    <link rel="stylesheet" href="/CSS/stilo_galeria.css">
</head>
<body>
    <header>
        <h1>MIS PREFERIDOS</h1>
    </header>
    <main>
            <div class="foto1">
                <img src="/IMAGENES/foto-galeria-yamato.png">
            </div>
            <div class="foto2">
                <img src="/IMAGENES/foto-galeria-bartolomeo.png">
            </div>
            <div class="foto3">
                <img src="/IMAGENES/foto-galeria-bon.png">
            </div>
            <div class="foto4">
                <img src="/IMAGENES/foto-galeria-borsalino.png">
            </div>
            <div class="foto5">
                <img src="/IMAGENES/foto-galeria-enel.png">
            </div>
            <div class="foto6">
                <img src="/IMAGENES/foto-galeria-franky.png">
            </div>
            <div class="foto7">
                <img src="/IMAGENES/foto-galeria-garp.png">
            </div>
            <div class="foto8">
                <img src="/IMAGENES/foto-galeria-leo.png">
            </div>
            <div class="foto9">
                <img src="/IMAGENES/foto-galeria-rob.png">
            </div>
            <div class="foto10">
                <img src="/IMAGENES/foto-galeria-silver.png">
            </div>
            <div class="foto11">
                <img src="/IMAGENES/foto-galeria-soge.png">
            </div>
            <div class="foto12">
                <img src="/IMAGENES/foto-galeria-usopp.png">
            </div>
    </main>
    <aside>
        <a href="/index.html">Página Principal</a>
    </aside>
</body>
</html>