<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/stilo_presupuesto.css">
    <title>presupuestos</title>
</head>
<body>
    <header>
        <div class="titulo">
            <h1>Inscribete a nuestro newsletter</h1>
        </div>
    </header>
    <nav>
        <div class="main">
            <a href=".index.html">Página Principal</a>
        </div>
        <div class="galeria">
            <a href="galeria.html">Galeria fotos</a>
        </div>
        <div class="ubiacion">
            <a href="ubicacion.html">Ubicación</a>
        </div>
    </nav>
    <main>
        <div class="formulario-datos">
            <form>
                <div class="nombre">
                    <label>Nombre</label>
                    <br>
                    <input type="text" placeholder="Nombre" required autofocus>
                    <br><br>
                </div>
                <div class="email">
                    <label>Email</label>
                    <br>
                    <input type="email" placeholder="Email" required>
                    <br><br>
                </div>
                <div class="telefono">
                    <label> Telefono</label>
                    <br>
                    <input type="tel" maxlength="9" placeholder="Nº Telefono">
                    <br><br>
                </div>
                <div class="more-info">
                    <label>¿Quieres añadir algo?</label>
                <br>
                    <textarea placeholder="Escribe lo que necesites"></textarea>
                    <br><br>
                </div>
                <div class="terminos-condiciones">
                    <label>Para acceder acepta los terminos y condiciones</label>
                    <input type="checkbox">
                    <br><br>
                </div>
                <div class="opciones">
                    <div class="enviar">
                    <input type="submit" value="Enviar">
                    </div>
                <br>
                    <div class="reset">
                    <input type="reset">
                    </div>
                </div> 
                </form>
        </div>
    </main>
    <footer>
        <div class="rrss">
            <p>RRSS</p>
        </div>
        <div class="link-face">
            <a title="facebook" href="https://www.facebook.com/?locale=es_ES%2F" target="_blank">Facebook</a>  
        </div>
        <div class="link-insta">
            <a title="instagram" href="https://www.instagram.com/" target="_blank">Instagram</a>
        </div>
        <div class="info-footer">
            <p>© 2024 Nakanews. Todos los derechos reservados. 
                Los artículos publicados son solo informativos. 
                Nakanews no se responsabiliza por el uso del contenido. 
                Para más detalles, consulta nuestro Aviso Legal.</p>
        </div>
    </footer>
</body>
</html>