<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ubicacion</title>
    <link rel="stylesheet" href="../CSS/stilo_ubicacion.css">
</head>
<body>
  <header>
    <h1>¿Donde nos puedes encontrar?</h1>
  </header>
  <nav>
    <div class="main">
        <a href="../index.html">Página Principal</a>
    </div>
    <div class="formulario">
        <a href="presupuesto.html">Formulario Newsletters</a>
    </div>
    <div class="ubiacion">
        <a href="galeria.html">Galería</a>
    </div>
  </nav>  
  <main>
    <ul>
      <li>Ubicación
        <ul>
          <li>Carrer Lluis Santangel 18, 46670, La Pobla Llarga</li>
        </ul>
      </li>
      <li>Teléfono de contacto
        <ul>
          <li>658 39 32 94</li>
        </ul>
      </li>
      <li>Línea de metro
        <ul>
          <li>Línea 1/8/6</li>
          <li>Para Pobla Llarga</li>
        </ul>
      </li>
    </ul>
    
  </main>
  <section>
    <h2>Ubicación y reseña</h2>
    <img alt="ubicacion" src="../IMAGENES/Screenshot 2025-03-27 at 18-16-49 falla el castell - Buscar con Google.png" >
  </section>
  <aside>
    <h2>Mapa Metro</h2>
    <img src="../IMAGENES/Futuroplanodemetrovalenciav8.webp">
  </aside>
  <footer>
    <div class="rrss">
        <p>RRSS</p>
    </div>
    <div class="link-face">
        <a title="facebook" href="https://www.facebook.com/?locale=es_ES%2F" target="_blank">Facebook</a>  
    </div>
    <div class="link-insta">
        <a title="instagram" href="https://www.instagram.com/" target="_blank">Instagram</a>
    </div>
    <div class="info-footer">
        <p>© 2024 Nakanews. Todos los derechos reservados. 
            Los artículos publicados son solo informativos. 
            Nakanews no se responsabiliza por el uso del contenido. 
            Para más detalles, consulta nuestro Aviso Legal.</p>
    </div>
</footer>
</body>
</html>

